html,
body {
  height: 100%;
}

body {
  @extend %gilroy-500;
  font-size: 14px;
  color: #4a4a4a;
  background-color: #fff;
  min-width: 320px;
  overflow-x: hidden;
}

.lock {
  overflow: hidden;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1660px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

// style

// burger
.burger {
  display: none;
  cursor: pointer;
  padding: 5px;
  z-index: 7;
  &__open {
    width: 14px;
  }
  &__close {
    width: 14px;
    display: none;
  }
  &.active {
    .burger__open {
      display: none;
    }
    .burger__close {
      display: block;
    }
  }
}


@media (max-width: 992px) {
   .burger {
    order: -1;
    display: block;
  }
}




// button

.btn-special {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  border-radius: 12px;
  background: #f1f1f1;

  @extend %gilroy-500;
  font-size: 16px;
  color: #000;
  &__icon {
    margin-right: 24px;
  }
  &__icon img {
    width: 24px;
    height: 24px;
    object-fit: cover;
  }
}

.btn {
  display: inline-block;
  min-width: 204px;
  min-height: 53px;
  padding: 15px 53px;
  @extend %gilroy-700;
  font-size: 16px;
  color: #000;
  line-height: 22px;
  border-radius: 6px;
  background: #fff;
}

.link-about {
  display: flex;
  align-items: center;
  @extend %gilroy-700;
  font-size: 16px;
  color: #fff;
  &__icon {
    margin-left: 8px;
  }
}
