.hero {
  padding-top: 160px;
  padding-bottom: 184px;
  &__wrapper {
    position: relative;
  }
  &__content {
    min-height: 736px;
    position: relative;
    padding-top: 52px;
    padding-left: 95px;
    padding-right: 95px;
    padding-bottom: 77px;
    border-radius: 36px;
    background: linear-gradient(91deg, #2d32ff 1.55%, #2629aa 99.49%);
  }
  &__content::after {
    content: "";
    position: absolute;
    top: 173px;
    left: 640px;
    width: 235px;
    height: 235px;
    background-image: url("../images/hero/subtract.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__content::before {
    content: "";
    position: absolute;
    top: 25px;
    right: 285px;
    width: 440px;
    height: 355px;
    background-image: url("../images/hero/vector.svg");
    background-repeat: no-repeat;
  }
  &__nav {
    margin-bottom: 43px;
    width: 100%;
    max-width: 615px;
  }
  &__title {
    margin-bottom: 31px;
    width: 100%;
    max-width: 594px;
    @extend %gilroy-700;
    font-size: 64px;
    color: #fff;
  }
  &__text {
    margin-bottom: 55px;
    width: 100%;
    max-width: 519px;
    @extend %gilroy-500;
    font-size: 20px;
    color: #fff;
  }
  &__btns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__btn {
    margin-bottom: 99px;
  }
}

.hero-image {
  &__one,
  &__two {
    position: absolute;
    z-index: 2;
  }
  &__one {
    width: 100%;
    max-width: 747px;
    top: 383px;
    right: 113px;
  }
  &__one img {
    border-radius: 26px;
  }
  &__two {
    width: 100%;
    max-width: 539px;
    top: 136px;
    right: 65px;
    z-index: 1;
  }
}

.hero-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 28px;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    min-height: 41px;
    min-width: 132px;
    @extend %gilroy-500;
    font-size: 16px;
    line-height: 22px;
    color: #fff;

    border-radius: 38px;
    border: 3px solid #fff;
  }
}

@media (max-width: 1600px) {
  .hero-image__one {
    max-width: 500px;
  }
  .hero-image__two {
    max-width: 385px;
  }
  .hero__content::before {
    right: 20px;
  }
}

@media (max-width: 1400px) {
  .hero__content::before {
    display: none;
  }
  .hero__content::after {
    content: "";
    top: 0;
    right: 0;
    left: auto;
  }
  .hero__title {
    font-size: 50px;
  }

  .hero-image__one {
    top: 430px;
    right: 20px;
    max-width: 450px;
  }

  .hero-image__two {
    top: 240px;
  }
}

@media (max-width: 1200px) {
  .hero__content {
    margin-bottom: 132px;
  }
  .hero-image__one {
    position: static;
    max-width: 747px;
    margin: 0 auto;
  }

  .hero__wrapper {
    position: relative;
  }
  .hero-image__two {
    top: auto;
    bottom: -198px;
    right: 0;
  }
}

@media (max-width: 992px) {
  .hero {
    padding-top: 133px;
  }
  .hero__content {
    min-height: auto;
    position: relative;
    padding-top: 32px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 43px;
    border-radius: 36px;
  }
  .hero__content::after {
    width: 122px;
    height: 122px;
  }
  .hero__title {
    font-size: 24px;
    margin-bottom: 22px;
  }
  .hero__text {
    margin-bottom: 44px;
    font-size: 16px;
  }

  .hero__nav {
    max-width: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -124px;
    overflow-x: auto;
    flex-wrap: nowrap;
  }
  .hero-nav__link {
    min-width: 118px;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    border: 2px solid #000;
  }

  .hero-image__two {
    max-width: 300px;
  }
  .hero__btn {
    margin-bottom: 32px;
  }
}

@media (max-width: 768px) {
  .hero__title {
    max-width: 300px;
  }
  .hero__text {
    max-width: 262px;
  }
  .hero-nav {
    gap: 10px;
  }
}

@media (max-width: 576px) {
  .hero__title {
    max-width: 159px;
  }
  .hero-nav {
    justify-content: center;
  }
  .hero-image__two {
    max-width: 190px;
    bottom: -58px;
    right: 2px;
  }
}

@media (max-width: 480px) {
  .hero-nav {
    justify-content: flex-start;
  }
  .hero-image__two {
    bottom: -103px;
  }
}

@media (max-width: 375px) {
  .hero__content::after {
    width: 100px;
    height: 100px;
  }
  .hero-image__two {
    bottom: -180px;
  }
}
