.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  padding-top: 43px;
  padding-bottom: 20px;
  transition: all 0.2s;
  &.header--scroll {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &__inner {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-right: 307px;
  }
  &__logo-mobile {
    display: none;
  }
  &__menu {
    margin-right: auto;
    padding-right: 15px;
  }
}

.logo {
  display: flex;
  align-items: center;
  z-index: 5;
  &__text {
    display: flex;
    align-items: center;
    @extend %gilroy-700;
    font-size: 16px;
    color: #000;
    gap: 0 5px;
  }
  &__img {
    width: 41px;
    height: 23px;
    object-fit: cover;
  }
}
.menu {
  &__list {
    display: flex;
    align-items: center;
    gap: 0 118px;
  }
  &__list-link {
    @extend %gilroy-500;
    font-size: 16px;
    color: #000;
  }
}

@media (max-width: 1400px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
}
  .header__logo {
    margin-right: auto;
    padding-right: 15px;
  }
  .menu__list {
    gap: 0 80px;
  }
}

@media (max-width: 1200px) {
  .menu__list-link {
    font-size: 14px;
  }
  .header__inner > .btn-special {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  .header__logo {
    margin: 0 auto;
    padding-right: 0;
    padding-left: 15px;
  }

  .header__inner > .btn-special {
    display: none;
  }

  .header__menu {
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 76px;
    transition: all 0.3s;
    overflow: auto;
    z-index: 6;
    padding-right: 0;
  }
  .header__menu.active {
    top: 0;
  }

  .header__menu.active > .logo-mobile {
    width: 86px;
    display: flex;
    justify-content: center;
    margin: 0 auto 124px;
  }

  .menu__list {
    display: block;
    width: 100%;
  }
  .menu__list-link {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding: 27px 15px;
  }
  .menu__list-item {
    position: relative;
  }
  .menu__list-item:after {
    content: "";
    position: absolute;
    width: 315px;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: #e6e6e6;
  }
  .menu__list-item:last-child:after {
    display: none;
  }

  .header__auth.active {
    display: flex;
    justify-content: center;

    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;
    width: 100%;
    max-width: 315px;
    font-weight: 700;
    color: #fff;
    font-size: 16px;

    border-radius: 12px;
    background-color: #2d32ff;
  }
  .header__auth.active > .btn-special__icon {
    display: none;
  }
}
